.summary {
  display: flex;
  flex-direction: row;
  align-items: center;
  }

.portrait {
  border-radius: 50%;
  order: 1;
  margin: 50px;
}

.cv-background {
  height: 100vh;
  z-index: -1;
  position: fixed;
  top: 0;
  bottom: 0;
}

.forbes-background {
  height: 100vh;
  z-index: -2;
  position: fixed;
  top: 0;
  bottom: 0;
  padding-left: 200px;
}


h1, h2, h3, h4, p, ul, ol {
  font-family: 'Caveat', cursive;
  font-family: 'IBM Plex Serif', serif;
  font-weight: 600;
  color: #213555;
}

#main-page {
  background-color: #F5EFE7;
  margin-top: 100px;
  margin-left: 600px;
  margin-right: 20px;
  padding: 0px 70px 0px 50px;
  border: 1.5px solid black;
  max-width: 1100px;
}

h4 {
  margin-top: 20px;
}

li {
  padding: 3.5px 0px 3.5px 0px;
}

hr {
  border: 1px solid;
}

@media(max-width: 1350px) {
  #main-page {
    padding: 0px 40px 0px 30px;    
  }
}

@media(max-width: 1200px) {
  .forbes-background {
    display: none;
  }
  .cv-background {
    display: none;
  }
  #main-page {
    background-color: #F5EFE7;
    margin: 0;
    padding: 0px 70px 0px 50px;
    border: 1.5px solid black;
  }
  .full-page {
    display: flex!important;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: center;
    align-items: baseline;
  }
}

@media(min-width: 1200px) {
  .portrait {
    display: none;
  }
}

@media(max-width: 800px) {
  .summary {
    display: flex;
    flex-direction: column;
  }
  .photo-box {
    order: 0;
  }
  .summary-text {
    order: 1;
  }
  #main-page {
    padding: 0px 30px 0px 20px;
  }
  .portrait {
    margin: 25px;
  }
  .work-experience > ul{
    padding: 10px;
  }
}